<mat-card class="content">
  <mat-card-header>
    <mat-card-title>Edit Article bog: </mat-card-title>
  </mat-card-header>

  <mat-form-field appearance="fill" class="formField">
    <mat-label>Title</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Your text</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-card-actions class="formField">
    <button mat-raised-button color="primary"><mat-icon>save</mat-icon>Save</button>
  </mat-card-actions>
</mat-card>
