<mat-card class="content">
  <mat-card-header>
    <mat-card-title>Add Article bog</mat-card-title>
  </mat-card-header>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="formCreate">
    <mat-form-field appearance="fill" class="formField">
      <mat-label>Title</mat-label>
      <input formControlName="title" #inputElement required matInput>
      <mat-hint align="end">{{inputElement.value.length}}/255 caractères</mat-hint>
      <div *ngIf="(form.controls && (form.controls?.['title']?.dirty || form.controls?.['title']?.touched))">
        <p *ngIf="form.controls?.['title']?.errors" [ngStyle]="{'color' : 'red'}">Le champ est obligatoire</p>
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill" class="formField">
      <mat-label>Your text</mat-label>
      <textarea formControlName="content" #textAreaElement required matInput></textarea>
      <mat-hint align="end">{{textAreaElement.value.length}} caractères</mat-hint>
      <div *ngIf="(form.controls && (form.controls?.['content']?.dirty || form.controls?.['content']?.touched))">
        <p *ngIf="form.controls?.['content']?.errors" [ngStyle]="{'color' : 'red'}">Le champ est obligatoire</p>
      </div>
    </mat-form-field>
  <mat-form-field appearance="fill" class="formField">
    <mat-label>Image</mat-label>
    <input formControlName="image" matInput>
  </mat-form-field>

  <mat-card-actions class="formField">
    <button mat-raised-button color="primary"><mat-icon>save</mat-icon>Save</button>
  </mat-card-actions>
</form>
</mat-card>
